/risethesis.pdf
/risethesis.synctex.gz
/risethesis.bbl
/risethesis.blg
/tmp
/risethesis.aux
/risethesis.lof
/risethesis.log
/risethesis.lot
/risethesis.out
/risethesis.toc
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.log
*.lol
*.toc
*.lot
*.lof
*.gz
*.out
*.fls
.DS_Store
